/*
@font-face {
	font-family: "console";
	src: url("px437_toshibasat_9x16.woff2") format("woff2"),
	url("px437_toshibasat_9x16.woff") format("woff"),
	url("px437_toshibasat_9x16.ttf") format("truetype");
	font-display: swap;
}
*/

a:hover {
  text-decoration: none;
  color: black !important;
  background-color: #096 !important;
}

::selection {
  color: black;
  background-color: #096;
}

header ul a:first-child {
  padding-left: 0px !important;
}

blockquote {
  font-style: italic !important;
  color: #d07900 !important;
}

* {
  font-family: "Space Grotesk" !important;
  font-weight: 400 !important;
}

html {
  background-color: black;
}

h1 {
  font-size: 1.5em !important;
  font-weight: bold !important;
}

h2 {
  font-size: 1.25em !important;
  font-weight: bold !important;
}

.post {
  font-size: 2em !important;
  background-color: #d07900 !important;
  color: black !important;
  padding: 0.5em;
  font-weight: bold !important;
  border-top-right-radius: 2em !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #096;
  color: black !important;
  border-top-right-radius: 2em !important;
  padding-left: 0.5em !important;
}

code {
  font-size: 1em !important;
}

li {
  padding-bottom: 0.5em !important;
}

/* hype button */
.button-hype {
  font-size: 0.5em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em !important;
  box-shadow:
    1px 1px 0px 0px,
    2px 2px 0px 0px,
    3px 3px 0px 0px,
    4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: black;
  color: #096;
  float: right !important;
}

.button-hype:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-hype {
    padding: 0.25em 0.75em;
  }
  code,
  pre {
    overflow: auto;
    text-wrap: wrap;
  }
}

code,
pre {
  overflow: auto !important;
  text-wrap: wrap;
}

.hype-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
}

.hr-list {
  flex-grow: 1;
  border: none;
  height: 2px;
  background-color: #ccc;
}
