/* index.html styles */
main#content ul#posts {
		list-style-type: none;
		font-size: 16px;
		font-size: 1.2rem !important;
		margin-top: 0;
		padding: 0;
}

header#banner {
	margin-bottom: 4px !important;
}

header#banner h2 {
		font-weight: bold;
}

main#content h3 {
		display: none;
}

main#content ul#posts small {
		display: none;
}
main#content a {
	color: #fff900 !important;
}

*::-moz-selection { color: red}
*::selection { color: red; }

