/* index.html styles */
main#content ul#posts {
		list-style-type: none;
		font-size: 16px;
		font-size: 1.2rem !important;
		margin-top: 0;
		padding: 2%;
}

header#banner {
	margin-bottom: 4px !important;
}

header#banner h2 {
		font-weight: bold;
}

main#content h3 {
		display: none;
}

main#content ul#posts small {
		display: none;
}
main#content a {
	color: #fff900 !important;
}

*::-moz-selection { color: red}
*::selection { color: red; }

body {
	transform: rotate(-2deg);
	top:-5%;
	left:-5%;
	width:110%;
}

#content {
	transform: rotate(2deg);
	margin-left: 5%;
  padding-left: 2%;
	padding-right: 2%;
	padding-top: 10px;
}
